In [146]:
import geopandas as gpd
import pandas as pd
#from gerrychain import Graph, Partition, Election
#from gerrychain.updaters import Tally, cut_edges


# vtd['vote_difference'] = vtd.EL16G_GV_R - vtd.EL16G_GV_D
# vtd.plot("vote_difference", legend = True, figsize = (20,20) )
# vtd_county.plot("EL12G_GV_R", legend = True, figsize = (10,10) )
#vtd_county = vtd.dissolve(by='County', aggfunc='sum')
#vtd_county.to_file("./data/NC_county_merged.json", driver="GeoJSON")  
#.to_crs("EPSG:4269")

In [179]:
# vtd = gpd.read_file("./data/NC_VTD.shp").to_crs("ESRI:103500")
# bg = gpd.read_file("./data/tl_2016_37_bg.shp").to_crs("ESRI:103500")
# blocks = gpd.read_file("./data/blocks/tl_2016_37_tabblock10.shp").to_crs("ESRI:103500")

In [57]:
vtd = gpd.read_file("./data/NC_VTD.shp").to_crs("EPSG:4269")
bg = gpd.read_file("./data/tl_2016_37_bg.shp").to_crs("EPSG:4269")
blocks = gpd.read_file("./data/blocks/tl_2016_37_tabblock10.shp").to_crs("EPSG:4269")

In [ ]:
joined_within = gpd.sjoin(blocks, vtd, how = 'left', predicate = 'within' )
joined_within[["GEOID10", "VTD"]].groupby("GEOID10").agg('count').value_counts()

In [126]:
# geo_table = blocks
# geo_id = "GEOID10"
i = 0
geo_table = [ blocks, bg][i]
geo_id = ["GEOID10", "GEOID"][i]

joined = gpd.sjoin(geo_table, vtd, how = 'left',  predicate = 'intersects' )
mapping = joined[[geo_id, "VTD"]]

display(joined[[geo_id, "VTD"]].groupby(geo_id).agg('count').value_counts())

VTD
1      201318
2       73931
3       12086
4        1524
5         112
6          13
7           3
dtype: int64

In [178]:
#counts = joined[[geo_id, "VTD"]].groupby(geo_id).agg('count').rename(columns = {"VTD" : "NUM INTERSECTIONS"})
#m = joined.merge(counts, left_on = geo_id, right_index = True)
#m[m["NUM INTERSECTIONS"] <= 5].plot("NUM INTERSECTIONS", legend = True)

In [176]:
# Intersect geos with VTDs, compute area ratios
geo_table_with_map = geo_table.merge(mapping)#.merge(vtd[["VTD", "geometry"]], suffixes = ('_block', '_vt') )
geo_with_vtd = geo_table_with_map.merge(vtd,
                                                      left_on = "VTD", right_on = "VTD",
                                                      suffixes = ('_geo', '_vtd'))

geo_geos = gpd.GeoSeries(geo_with_vtd.geometry_geo).to_crs("ESRI:103500")

In [177]:
geo_with_vtd['geo_intersect'] = geo_geos.intersection(gpd.GeoSeries(geo_with_vtd.geometry_vtd).to_crs("ESRI:103500"))

geo_with_vtd['geo_area'] = geo_geos.area
geo_with_vtd['intersect_area'] = gpd.GeoSeries(geo_with_vtd.geo_intersect).to_crs("ESRI:103500").area
geo_with_vtd['area_proportion'] =  geo_with_vtd['intersect_area'] / geo_with_vtd['geo_area']

In [138]:
geo_with_vtd[geo_with_vtd.area_proportion >= .2][[geo_id, "VTD"]].groupby(geo_id).agg('count').value_counts()

VTD
1      288215
2         772
dtype: int64

In [143]:
#geo_with_vtd.rename(columns = {'geometry_geo' : "geometry" } ).plot("area_proportion", legend = True)

# Adding in population level blocks

In [147]:
pops = pd.read_csv('./data/us2016_block_pops.csv')

In [152]:
pops['block_fips'] = pops.block_fips.astype("str")

In [180]:
geo_with_pop = geo_with_vtd.merge(pops, left_on = geo_id, right_on = 'block_fips',)

In [190]:
geo_with_pop.drop(columns = ["geometry_geo", "geometry_vtd", "geo_intersect"]).to_csv("geo_with_pop.csv")

In [191]:
geo_with_pop

,STATEFP10,COUNTYFP10,TRACTCE10,BLOCKCE10,GEOID10,NAME10,MTFCC10,UR10,UACE10,UATYPE,...,pop2014,pop2015,pop2016,hh2010,hh2011,hh2012,hh2013,hh2014,hh2015,hh2016
0,37,037,020105,2000,370370201052000,Block 2000,G5040,R,None,None,...,520,529,544,253,253.0,253.8135,256.254,256.2540,257.8810,258.6945
1,37,037,020105,2000,370370201052000,Block 2000,G5040,R,None,None,...,520,529,544,253,253.0,253.8135,256.254,256.2540,257.8810,258.6945
2,37,037,020103,1029,370370201031029,Block 1029,G5040,U,25228,U,...,472,485,489,215,215.0,215.0000,215.000,215.8958,215.8958,219.4790
3,37,037,020701,1027,370370207011027,Block 1027,G5040,R,None,None,...,0,0,0,0,0.0,0.0000,0.000,0.0000,0.0000,0.0000
4,37,037,020701,1027,370370207011027,Block 1027,G5040,R,None,None,...,0,0,0,0,0.0,0.0000,0.000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392188,37,183,052601,2008,371830526012008,Block 2008,G5040,U,73261,U,...,28,29,29,9,9.0,9.0000,9.000,9.0000,9.0000,9.0000
392189,37,183,052601,2019,371830526012019,Block 2019,G5040,U,73261,U,...,65,66,66,26,26.0,26.0000,26.000,26.0000,26.0000,26.0000
392190,37,183,052601,2006,371830526012006,Block 2006,G5040,U,73261,U,...,27,28,28,11,11.0,12.0000,12.000,12.0000,12.0000,13.0000
392191,37,183,052601,2004,371830526012004,Block 2004,G5040,U,73261,U,...,46,47,48,15,15.0,15.0000,15.000,15.0000,15.0000,15.0000
392192,37,183,052601,2013,371830526012013,Block 2013,G5040,U,73261,U,...,4,4,6,0,0.0,0.0000,0.000,0.9296,1.8592,1.8592

In [195]:
geo_with_pop['pop_proportion'] = geo_with_pop.pop2016 /  geo_with_pop.TOTPOP

In [199]:
# This filtering is necessary, since otherwise we end up with blocks that have more population than the VTD they represent.
geo_with_pop[geo_with_pop.area_proportion >= .1].pop_proportion.sort_values()

127114    0.000000
112671    0.000000
274810    0.000000
112668    0.000000
216513    0.000000
            ...
208233    0.733688
19681     0.789588
312766    0.796923
255614    0.804348
55260     0.935275
Name: pop_proportion, Length: 290551, dtype: float64